.superadmin-container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 24px;
}
.authority-form {
  display: grid;
  gap: 1.5rem;
}
.select-wrapper {
  position: relative;
}
.select-wrapper label {
  position: absolute;
  top: -9px;
  left: 12px;
  font-size: 0.8rem;
  background-color: var(--md-sys-color-surface-container-high);
  padding: 0 4px;
  color: var(--md-sys-color-primary);
  z-index: 1;
}
.select-wrapper select {
  width: 100%;
  border: 1px solid var(--md-sys-color-on-surface-variant);
  border-radius: 16px;
  padding: 16px;
  background-color: transparent;
  color: var(--md-sys-color-on-surface);
  font-size: 1rem;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23CAC4D0' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.7rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  position: relative;
}
.select-wrapper select:focus {
    border-color: var(--md-sys-color-primary);
    outline: none;
}
.input-group {
  position: relative;
}
.input-group input {
  width: 100%;
  border: 1px solid var(--md-sys-color-on-surface-variant);
  border-radius: 16px;
  padding: 16px;
  background-color: transparent;
  color: var(--md-sys-color-on-surface);
  font-size: 1rem;
}
.input-group label {
  position: absolute;
  top: 17px;
  left: 17px;
  font-size: 1rem;
  color: var(--md-sys-color-on-surface-variant);
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: var(--md-sys-color-surface-container-high);
  padding: 0 4px;
}
.input-group input:focus {
  outline: none;
  border-color: var(--md-sys-color-primary);
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -9px;
  left: 12px;
  font-size: 0.8rem;
  color: var(--md-sys-color-primary);
}